{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "importOrderSortSpecifiers": true,
  "tailwindConfig": "./tailwind.config.js",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
